[submodule "lib/submodules/html5-boilerplate"]
	path = lib/submodules/html5-boilerplate
	url = git://github.com/h5bp/html5-boilerplate.git
[submodule "lib/submodules/ant-build-script"]
	path = lib/submodules/ant-build-script
	url = git://github.com/h5bp/ant-build-script.git
